In [2]:
import pandas as pd

In [34]:
import pandas as pd

file =('AluguelXP_trade_20221215.xlsx')
df = pd.read_excel(file)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Master,KAPITALO CTA MAE,900279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Investidor,Conta,Ativo,Lado,Qtd,Tx,Vencimento,Chamada de margem,P.U.,Contrato,ISIN,Abertura,NaN,NaN
3,NaN,KAPITALO K10 PREV MASTER,809983,CPLE6,D,9600,5.75,25/01/2023,NaN,7.28,NaN,BRCPLEACNPB9,NaN,Novo,Balcão
4,NaN,KAPITALO K10 PREV MASTER,809983,ABEV3,D,5400,1.44,25/01/2023,NaN,14.99,NaN,BRABEVACNOR1,NaN,Novo,Balcão
5,NaN,KAPITALO K10 PREV MASTER,809983,RADL3,D,3400,0.53,25/01/2023,NaN,22.2,NaN,BRRADLACNOR0,NaN,Novo,Balcão

In [35]:
df.loc[2,'Unnamed: 14'] = 'Modalidade'

In [36]:
df.columns = df.iloc[2]

In [37]:
df

2,NaN,Investidor,Conta,Ativo,Lado,Qtd,Tx,Vencimento,Chamada de margem,P.U.,Contrato,ISIN,Abertura,NaN,Modalidade
0,Master,KAPITALO CTA MAE,900279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Investidor,Conta,Ativo,Lado,Qtd,Tx,Vencimento,Chamada de margem,P.U.,Contrato,ISIN,Abertura,NaN,Modalidade
3,NaN,KAPITALO K10 PREV MASTER,809983,CPLE6,D,9600,5.75,25/01/2023,NaN,7.28,NaN,BRCPLEACNPB9,NaN,Novo,Balcão
4,NaN,KAPITALO K10 PREV MASTER,809983,ABEV3,D,5400,1.44,25/01/2023,NaN,14.99,NaN,BRABEVACNOR1,NaN,Novo,Balcão
5,NaN,KAPITALO K10 PREV MASTER,809983,RADL3,D,3400,0.53,25/01/2023,NaN,22.2,NaN,BRRADLACNOR0,NaN,Novo,Balcão

In [38]:
df = df.loc[3:][['Investidor','Ativo','Lado','Qtd','Tx','Vencimento','str']]

In [39]:
fundos = {
    'KAPITALO K10 PREV MASTER': 'KAPITALO K10 PREV MASTER FIM',
    'KAPITALO KAPPA': 'KAPITALO KAPPA MASTER FIM',
    'KAPITALO KAPPA PREV MASTER': 'KAPITALO KAPPA PREV MASTER FIM'
}

In [40]:
df['Investidor'] = df['Investidor'].map(fundos)

In [43]:
df.rename(columns={'Investidor': 'str_fundo','Ativo':'str_papel','Lado':'str_tipo','Qtd':'dbl_quantidade','Tx':'dbl_taxa','Vencimento':'dte_datavencimento'})

2,str_fundo,str_papel,str_tipo,dbl_quantidade,dbl_taxa,dte_datavencimento,Modalidade
3,KAPITALO K10 PREV MASTER FIM,CPLE6,D,9600,5.75,25/01/2023,Balcão
4,KAPITALO K10 PREV MASTER FIM,ABEV3,D,5400,1.44,25/01/2023,Balcão
5,KAPITALO K10 PREV MASTER FIM,RADL3,D,3400,0.53,25/01/2023,Balcão

In [ ]:
df.fillna(0, inplace=True)
df = df[df["str_papel"] != 0]
df["str_fundo"] = "KAPITALO KAPPA MASTER FIM"
df["str_corretora"] = "Terra"
df["str_tipo_registro"] = df["Modalidade"].apply(
    lambda x: "R" if x == "Balcão" else "N" if x == "D1" else None
)
df["str_modalidade"] = df["str_tipo_registro"].apply(
    lambda x: "E1" if x == "N" else None
)
df["str_tipo_comissao"] = "A"
df["dbl_valor_fixo_comissao"] = 0
df["str_reversivel"] = "TD"
df["str_fundo"] = "KAPITALO KAPPA MASTER FIM"
df["str_status"] = "Emprestimo"
df["str_tipo"] = "D"
df["dbl_quantidade"] = df["dbl_quantidade"].apply(lambda x: x * (-1))
df["dte_databoleta"] = date.today().strftime("%Y-%m-%d")
df["dte_data"] = date.today().strftime("%Y-%m-%d")

In [ ]:
return df[[
        "dte_databoleta",
        "dte_data",
        "str_fundo",
        "str_corretora",
        "str_tipo",
        "dte_datavencimento",
        "dbl_taxa",
        "str_reversivel",
        "str_tipo_registro",
        "str_modalidade",
        "str_tipo_comissao",
        "dbl_valor_fixo_comissao",
        "str_papel",
        "dbl_quantidade",                  
        "str_status",
]]